/* about.html 스타일 */

/* Ver.Mobile */
/* all */
*{margin: 0; padding: 0;}
#container{width: 100%; height: 1400px; margin: 0 auto; box-sizing: border-box;}
/* header */
header{height: 50px; border: none;}
/* notice */
header #notice{width: 100%; padding: 5px; position: fixed; border-bottom: 1px solid black;
  font-family: 'Mulish', sans-serif; font-size: 10px; text-align: center;}
/* logo */
header #logo{text-align: center; line-height: 50px;}
header #logo .font-effect-neon{font-family: "Sofia", sans-serif; font-size: 3vw; 
  text-shadow:  0 0 0.1em #fff, 0 0 0.2em #fff, 0 0 0.3em #fff, 0 0 0.4em black, 
  0 0 0.6em gray, 0 0 0.8em gray, 0 0 1.0em gray, 0 0 1.2em gray;}
/* menu(top) */
#topmenu{font-family: 'Mulish', sans-serif; list-style: none;}
/* #topmenu li .home{position: fixed; top: 17px; right: 10px; z-index: 150; font-size: 13px;
  color: black; text-decoration: none;} */
#topmenu li p button{background: none; border: none; position: fixed; top: 17px; left: 10px; 
  z-index: 150; font-family: 'Mulish', sans-serif; font-size: 13px;}
/* menu(sub) */
#submenu{background: whitesmoke; width: 100%; height: 100%; display: none; position: fixed; top: 0;}
#topmenu > li > ul > .submenu-position{position: absolute; top: 50px; line-height: 1.5;}
#topmenu > li > ul > .submenu-position > li{padding: 8px 40px; text-align: left; list-style: none;}
#topmenu > li > ul > .submenu-position > li > a, #topmenu > li > ul > .submenu-position > .info > li > p
{color: black; font-size: 10px; text-decoration: none;}
#topmenu > li > ul > .submenu-position > li > a:hover{font-style: italic; text-decoration-line: underline;}
#topmenu > li > ul > .submenu-position > .info{border: 1px solid black; padding: 5px; margin: 20px 0 0 40px;}
#topmenu > li > ul > .submenu-position > .info > li{list-style: none;}

/* section */
/* who */
#who{height: 300px; border: none; position: relative;}
#who .who-img img{border: 2px solid #ccc; box-shadow: 2px 2px 5px #ccc; 
  float: left; position: absolute; top: 50px; left: 50px;}
#who .who-info{float: right; position: absolute; top: 62px; right: 90px;}
#who .who-info p{text-align: center; font-family: 'Mulish', sans-serif; font-size: 13px;} 
#who .who-info p:nth-of-type(2n+1){font-size: 10px; margin-bottom: 10px;}
#who .who-info p:nth-of-type(2n){margin-bottom: 25px;}
#who .who-info p:nth-of-type(6){margin-bottom: 0;}
/* record */
#education{height: 100px; border: 2px solid black;}
#career{height: 100px; border: 2px solid black;}
#certificate{height: 300px; border: 2px solid black;}
#hobbit{height: 500px; border: 2px solid black;}


/* footer */
footer{height: 50px; border: none; padding: 0 10px; position: relative;}
footer #comment{position: absolute; line-height: 50px; 
  font-family: 'Mulish', sans-serif; font-size: 2vw;}
footer #copyright{position: absolute; line-height: 50px; right: 10px; 
  font-family: 'Mulish', sans-serif; font-size: 2vw;}

/* Ver.PC */
@media screen and (min-width: 800px) {
  /* header */
  header #logo .font-effect-neon{font-size: 1.7vw;}
  /* footer */
  footer #comment, footer #copyright{font-size: 1.5vw;}
}